<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/main.css}"/>
<meta charset="utf-8">
<title>Détail d'un Animal</title>
</head>
<body>

<form th:object="${animal}" th:action="@{/animal}" method="post">
		<input type="hidden" th:field="*{id}" />
		<div>
			<label for="Name">nom : </label>
			<input type="text" th:field="*{name}"  th:placeholder="${animal.name}" id="name" />
		</div>
		<div>
			<label for="sex">Sexe :</label>
			<input type="text"  th:field="*{sex}" th:placeholder ="${animal.sex}" id="sex" />
		</div>
		<div>
			<label for="color">Couleur :</label>
			<input type="text"  th:field="*{color}" th:placeholder ="${animal.color}" id="color" />
		</div>
		<div>
			<label for="species">Espèce :</label>
			<select name="species" th:field="*{species}" id="species" />
				<option th:each="specie : ${species}" 
				th:value="${specie.id}"  
				th:selected="${animal.species.getCommonName()==specie.getCommonName()}" 
				th:text=${specie.getCommonName()} >
		</div>
		<div>
			<input type="submit" class="button" value="Sauver" />
			<input type="button" class="button" value="Retour" onclick="window.location='/species'" />
		</div>
	</form>

</body>