<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<meta charset="utf-8">
	<title>Liste des Animaux</title>
</head>

<body>
	<h1>POUET</h1>
	<table class="mainTable">
		<thead>
			<tr>
				<th>Race</th>
				<th>Nom </th>
				<th>Sexe </th>
				<th>Couleur </th>
				<th></th>
		</thead>
		<tbody>
			<tr th:each="animal : ${animals}">
				<td th:text="${animal.species?.commonName}" />
				<td th:text="${animal.name}" />
				<td th:text="${animal.sex}" />
				<td th:text="${animal.color}" />
				<td>   <a th:href="@{'/animal/' + ${animal.id}}">modifier</a> </td>>
				<td>   <a th:href="@{'/animal/delete/' + ${animal.id}}">supprimer</a> </td>>
			</tr>
		</tbody>
	</table>
	<button type="button" onclick="window.location='/animal/create'">➕ Ajouter un Animal</button>
</body>